ul {
    color: green;
    background-color:green;
    display: flex;
    padding: 22px;
    margin-bottom: 5px;

}

h1{
    color: green ;

    color:white;
}

a{

   color: white; 
   justify-content: left;

}
a:hover {
    color: red;
}

nav li {
    margin: 20px;
}


footer li {
    margin-left: 20px;
}

body {
    background-image: url(./assests/img/fondd.webp);
    background-repeat: no-repeat;
     background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tableoverflow {
    overflow: auto;
    width: 100%;
}

table {
    color: black;
    border-collapse: collapse;
     

    width: 100%;
}

td, th {
    border: 2px solid grey;
}

.containe {
    background-color: white;
    width: 50%;
    border-radius: 10%;
}

/* LOGO */

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer li{
    margin-top: 8px;
    width: 100%; 
    margin-left: auto;
}

.promotion img {
    width: 100%
}


td img{
width: 90px;

}

h1{
   color: green; 
}


aside {


    background-color: grey;
    height: -40%;

}

.tout {
    display: grid;
    grid-template-columns: 80% 20%;

}

p {
    text-align: end;
    align-items: flex-start;

}

#toutlejardin {
    margin: right;
}

#artc h1,
p {
    display: block;
    text-align: left;


}

fieldset{
    border: 2px solid green;
}


.imput{
    border: green solid 3px;
}

.form:hover{
color: orange;

}

/* queries 576 px */
@media screen and (max-width: 576px) {
    p{
        font-size: 1rem;
    }
}



/* queries 768 px */

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    aside {
        display: none;
    }
    ul {
        display: block;
    }

    .promotion {
        font-size: 1rem;
    }
    
    h1, p{
      width: 129.2%; 
      
    }

    imput{ 
    border-style: double 5px ;
   
    }
}